:root {
    // COLORS
    --white: #FFF;
    --gray: rgba(241, 241, 241, 1);
    --beige: #FFF1E9;
    --blue: rgba(44, 61, 115, 1);
    --blue-transparent: rgba(44, 61, 115, 0.05);
    --orange: rgba(242, 68, 5, 1);
    --orange-darken: rgb(187, 50, 0);
    --orange-transparent: rgba(209, 60, 6, 0.5);
    --green-darken: rgb(25, 135, 84);
    --green: #41BE94;
    --gray-light: #DAE4F8;
    --gray-darken: #DEDEDE;
    --gray-darkest: #6f6f6f;

    // CONTAINER
    --container-offset: 2rem;
    --container-width: 132rem;

    // FONTS
    --xxl: 4rem;
    --xl: 2.4rem;
    --l: 2rem;
    --m: 1.6rem;
    --s: 1.4rem;


    --transition: .25s all linear;
    --radius: 1rem;
    --shadow: 0 0 2.5rem rgb(0 0 0 / 5%);
}

/* RESET AND BASE STYLES  */

html {
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    color: var(--blue);
}

body {
    width: 100%;
    background-color: #F1F1F1;
}

* {
    padding: 0;
    margin: 0;
    border: none;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

a, a:link, a:visited {
    color: inherit;
    //text-decoration: none;
}

a:hover {
    color: inherit;
    //text-decoration: none;
}

aside, nav, footer, header, section, main {
    display: block;
}

main {
    overflow: auto;
    padding: 2.5rem 0 2.5rem 2.5rem;
    border-left: 1px solid rgba(44, 61, 115, 0.25);

    @media screen and (max-width: 1280px) {
        padding: 0;
        border: 0;
    }
}

h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
    font-weight: inherit;
}

ul, ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

img, svg {
    max-width: 100%;
    height: auto;
}

address {
    font-style: normal;
}

input, textarea, button, select {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}

input::-ms-clear {
    display: none;
}

button, input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background: transparent none;
    cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
    outline: none;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

label {
    cursor: pointer;
}

legend {
    display: block;
}

img {
    max-width: 100%;
    width: 100%;
    height: auto;
    object-fit: cover;
}

#root {
    height: 100vh;
    position: relative;
    font-size: var(--m);
}

.green {
    color: var(--green);
}

.red {
    color: var(--orange);
}

.delete-images-title {
    margin-top: 1.2rem;
    margin-bottom: .8rem;
}

.layout-swiper {
    width: 100%;
    height: auto;
    border-radius: 0 0 2rem 2rem;

    .swiper-pagination-bullet-active {
        background-color: var(--orange);
    }

    &__slide {
        display: flex;
        align-items: center;
        width: 100% !important;


        img {
            max-width: 100%;
            height: 450px;
            object-fit: cover;

            @media screen and (max-width: 992px) {
                height: 300px;
            }

            @media screen and (max-width: 480px) {
                height: 250px;
            }
        }
    }
}

.one-col {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2.4rem;
}

.two-col {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2.4rem;

    @media screen and (max-width: 768px) {
        grid-template-columns: 1fr;
    }
}

.three-col {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.4rem;

    @media screen and (max-width: 480px) {
        grid-template-columns: 1fr;
    }
}

.page {
    display: grid;
    min-height: 100%;
    grid-template-rows: auto 1fr auto;

    .content {
        padding: 0 0 2rem 0;
        position: relative;

        &__image {
            max-height: 450px;
            border-radius: 0 0 2rem 2rem;
        }

        &__title {
            margin: 5rem 0;

            @media screen and (max-width: 1280px) {
                margin: 3.6rem 0;
            }

            @media screen and (max-width: 992px) {
                margin: 3.2rem 0;
            }
        }

        &__inner {
            display: grid;
            grid-template-columns: minmax(28.5rem, 33rem) 1fr;

            @media screen and (max-width: 1280px) {
                grid-template-columns: 1fr;
            }
        }

        @media screen and (max-width: 768px) {
            padding: 0 0 1.2rem 0;
        }
    }

    &-guest {
        .content {
            padding: 0;
            .container {
                display: grid;
                grid-template-columns: 1fr;
            }
        }
    }

    &-authenticated {
        background-color: #F1F1F1;
    }
}
