.school-info {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    &__type {
        padding: .5rem 1rem;
        border-radius: .5rem;
        background-color: var(--orange);
        color: white;
        width: fit-content;
    }

    &__phone {

    }

    &__address {

    }

    &__description {

    }
}
