.button {
    border-radius: 1rem;
    border: 0;
    padding: 1.5rem 1rem;
    transition: var(--transition);

    &-green {
        background-color: var(--green);
        border: 1px solid var(--green);
        color: var(--white);

        &:hover {
            color: var(--green);
            background-color: var(--white);
        }

        &:active {
            background-color: var(--green-darken);
            border-color: var(--green-darken);
            color: var(--white);
        }
    }

    &-gray {
        background-color: var(--gray-light);
        border: 1px solid var(--gray-darken);
        color: var(--blue);

        &:hover {
            background-color: var(--gray-darken);
            border-color: var(--gray-light);
        }

        &:active {
            background-color: var(--gray-darkest);
            border-color: var(--gray-darkest);
            color: var(--white);
        }
    }

    &-white {
        background-color: var(--white);
        border: 1px solid var(--white);
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);

        &:hover {
            border-color: var(--orange);
            background-color: var(--white);
            color: var(--orange);
        }

        &:active {
            background-color: var(--orange-darken);
            color: var(--white);
            border-color: var(--orange-darken);
        }
    }

    &-blue {
        background-color: var(--blue);
        border: 1px solid var(--blue);
        color: var(--white);

        &:hover {
            border-color: var(--orange);
            background-color: var(--orange);
            color: var(--white);
        }

        &:active {
            background-color: var(--orange-darken);
            color: var(--white);
            border-color: var(--orange-darken);
        }
    }

    @media screen and (max-width: 480px) {
        width: 100%;
    }
}
