.navigation {

    &__item {
        padding: 1rem 1rem 1rem 0;
        transition: var(--transition);

        &-link{
            text-decoration: none;
            font-size: var(--s);
            display: flex;
            align-items: center;
            gap: 10px;

            &.active {
                color: var(--orange);
            }
        }

        &:hover {
            color: var(--orange);
        }
    }

    &-sidebar {
        @media screen and (max-width: 1280px) {
            display: none;
        }
    }

    &-menu {
        font-size: 2.4rem;
        display: none;

        .navigation__item-link{
                font-size: 2.4rem;
        }

        @media screen and (max-width: 1280px) {
            display: flex;
        }
    }

    &-unauth {
        display: flex;
    }
}
