.footer {
    width: 100%;
    background-color: var(--white);

    &__inner {
        padding: 2rem 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    &__logo {
        font-weight: 500;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: .6rem;
        text-decoration: none;
        img {
            display: block;
            max-width: 100%;
            width: min-content;
            height: auto;
        }
        span {
            font-size: var(--m);
        }
    }
}
